@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600&display=swap');

* {
  font-family: 'Vazirmatn', sans-serif;
}
.ui-corner-all{
	font-family: 'Vazirmatn', sans-serif;
}
body {
  direction: rtl;
}

label {
  display: block;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
